<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../public/img/IconcreditPro.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Aplicación web para administrar finanzas personales" />
    <link href="../public/css/debts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="../public/css/globals.css" rel="stylesheet" type="text/css">
    <link href="../public/css/notifications.css" rel="stylesheet" type="text/css">
    <script src="../public/js/kit.fontawesome.js" crossorigin="anonymous"></script>
    <title>CreditPro</title>
</head>

<body id="debts" onload="activeOptionFooter('Add')">

    <header id="headerCreditPro">
        <a href="./dataUpdate.html" id="profile">
            <!-- <div id=""> -->
            <img src="../public/img/mujer.png" alt="Profile"
                style="width: 3em; border-radius: 50%;">
            <!-- </div> -->
            <span id="contentText">
                <strong>Juliana Gómez</strong>
            </span>
        </a>
        <a href="./dataUpdate.html" id="dataUpdate"><i class="fa-solid fa-sliders"></i></a>
    </header>

    <main>

        <section id="contentIngreso">
            <h1>Préstamos</h1>


            <ul class="tabs" role="tablist">
                <li>
                    <input class="check" type="radio" name="tabs" id="tab1" />
                    <label class="subtitle" for="tab1" role="tab" aria-selected="true" aria-controls="panel1"
                        tabindex="0">Actuales</label>
                    <div id="tab-content1" class="tab-content" role="tabpanel" aria-labelledby="description"
                        aria-hidden="false">

                        <article class="contentTarjetIngre hide">
                            No tienes préstamos registrados
                        </article>

                        <article class="contentTarjetIngre">
                            <img src="../public/img/profile.jpg" alt="icono">
                            <h3>DAVID RODRIGUEZ SARMIENTO</h3>
                            <span class="contentPriceAndDate">
                                <p><span>$</span>5.000.000</p>
                                <p class="dateInf">20/08/2023</p>
                                <p class="dateInf">Cuotas: 1/24- 10%</p>
                            </span>
                        </article>

                        <article class="contentTarjetIngre">
                            <img src="../public/img/profile.jpg" alt="icono">
                            <h3>Karen Gomez Mattos</h3>
                            <span class="contentPriceAndDate">
                                <p><span>$</span>154.000</p>
                                <p class="dateInf">20/08/2023</p>
                                <p class="dateInf">Cuotas: 1/24- 10%</p>
                            </span>
                        </article>

                        <article class="contentTarjetIngre">
                            <img src="../public/img/profile.jpg" alt="icono">
                            <h3>Laura Pérez</h3>
                            <span class="contentPriceAndDate">
                                <p><span>$</span>4.000.000</p>
                                <p class="dateInf">20/08/2023</p>
                                <p class="dateInf">Cuotas: 1/24- 10%</p>
                            </span>
                        </article>


                    </div>
                </li>
                <li>
                    <input class="check" type="radio" name="tabs" id="tab2" />
                    <label class="subtitle" for="tab2" role="tab" aria-selected="false" aria-controls="panel2"
                        tabindex="0">Historial</label>
                    <div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification"
                        aria-hidden="true">
                        <p class="lastUpdate">Ultima actualización 20 de Julio de 2023 </p>

                        <article class="contentTarjetHistory hide">
                            No cuentas con historial de movimientos
                        </article>

                        <article class="contentTarjetHistory">
                            <p class="descriptionHistory"><a href="#"><i
                                        class="fa-solid fa-arrow-up-right-from-square"></i> David Sarmiento ha terminado sus cuotas</a> </p>
                            <p class="dateHistory">20/08/2023</p>
                        </article>
                        <article class="contentTarjetHistory">
                            <p class="descriptionHistory"><a href="#"><i
                                        class="fa-solid fa-arrow-up-right-from-square"></i> Julieta Ramirez no ha cancelado los intereses</a> </p>
                            <p class="dateHistory">20/11/2023</p>
                        </article>
                        <article class="contentTarjetHistory">
                            <p class="descriptionHistory"><a href="#"><i
                                        class="fa-solid fa-arrow-up-right-from-square"></i> Pancracio Rodriguez no ha cancelado 3 cuotas</a> </p>
                            <p class="dateHistory">11/11/2023</p>
                        </article>
                    </div>

                </li>
            </ul>


            <!--ingreso-->
            <div class="contentPlus" id="newIncome">
                <i class="fa-solid fa-plus"></i>
            </div>
        </section>
    </main>

    <div id="popUpIncome" class="hide popUpOptionAdd">
        <section class="contentPopUpAdd">
            <i class="fa-solid fa-xmark buttonXmark" onclick="showPopUp('income')"></i>

            <h2>Registro de nuevo ingreso</h2>

            <form action="#" method="post">
                <label for="fullName" id="labelFullName" class="size_6">
                    Nombre completo
                    <br />
                    <input type="text" name="fullName" id="fullName" required>
                </label>

                <label for="phoneNumber" id="labelPhoneNumber" class="size_6">
                    Numero telefonico
                    <br />
                    <input type="number" name="phoneNumber" id="phoneNumber" required>
                </label>

                <label for="email" id="labelEmail" class="size_12">
                    Correo electronico
                    <br />
                    <input type="email" name="email" id="email" required>
                </label>

                <button type="submit" class="buttonAdd">Enviar</button>

            </form>

        </section>
    </div>

    <div id="popUpSpent" class="hide popUpOptionAdd">
        <section class="contentPopUpAdd">
            <i class="fa-solid fa-xmark buttonXmark" onclick="showPopUp('spend')"></i>

            <h2>Registro de nuevo gasto o deuda</h2>
        </section>
    </div>

    <script type="text/javascript">
        const contentIngreso = document.getElementById("contentIngreso");
        const popUpOption = document.getElementById("popUpOption");

        const inputCheckFisrt = document.getElementById("tab1");

        function changeView(type) {
            (type == 'ingreso') ?
                (contentIngreso.classList.remove('hide'), inputCheckFisrt.checked = 'true') :
            popUpOption.classList.add('hide');
        }

        function showPopUp(name) {
            if (name == 'income') {
                document.getElementById("popUpIncome").classList.toggle('hide');
            } else if (name == 'spend') {
                document.getElementById("popUpSpent").classList.toggle('hide');
            } else {
                return alert('Error al llamar la funcion showPopUp: ' + name);
            }
        }

        window.addEventListener('DOMContentLoaded', () => {
            // Pop-Up de ingreso
            const newIncome = document.getElementById("newIncome");
            const newSpent = document.getElementById("newSpent");

            if (newIncome && newSpent) {
                newIncome.addEventListener('click', () => showPopUp('income'));
                newSpent.addEventListener('click', () => showPopUp('spend'));
            }
        });
    </script>


    <footer id="footerCreditPro">
        <ul>
            <li id="footer_contacts" title="Contactos"><a href="./contact.html"> <i class="fa-solid fa-user-group"></i>
                    <br />
                    <!--<span>Contactos</span>-->
                </a></li>
            <li id="footer_history" title="Historico"><a href="./movements.html"> <i
                        class="fa-solid fa-clock-rotate-left"></i> <br />
                    <!--<span>Historico</span>-->
                </a></li>
            <li id="footer_home" title="Home"><a href="./home.html"> <i class="fa-solid fa-house"></i> <br />
                    <!--<span>Home</span>-->
                </a></li>
            <li id="footer_add" title="Agregar"><a href="./debts.html"> <i class="fa-solid fa-coins"></i>
                    <br />
                    <!-- <i class="fa-solid fa-plus"></i> <span> Agregar </span>-->
                </a></li>
            <li id="footer_overdue" title="Vencidas"><a href="./overdueAccount.html"> <i
                        class="fa-regular fa-calendar-minus"></i> <br />
                    <!--<span>Vencidas</span>-->
                </a></li>
            <!--
                  <ul id="footer_setting" title="Configuración"><a href="#"> <i class="fa-solid fa-sliders"></i> <br />
                      <span>Configuración</span>
                    </a></ul>
                    -->
        </ul>
    </footer>
</body>
<script src="../public/js/scripts.js" type="text/javascript"></script>

</html>