<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../public/img/IconcreditPro.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Aplicación web para administrar finanzas personales" />
    <link href="../public/css/recoveryPassword.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="../public/css/globals.css" rel="stylesheet" type="text/css">
    <link href="../public/css/notifications.css" rel="stylesheet" type="text/css">
    <script src="../public/js/kit.fontawesome.js" crossorigin="anonymous"></script>
    <title>CreditPro</title>
</head>

<body id="recoveryPassword">

    <main>
        <section id="includeImg">
            <img src="../public/img/IconcreditPro.png" alt="Logo de CreditPro">
        </section>

        <section id="includeForm">


            <h1>¿Olvido la contraseña?</h1>
            <p>Por favor ingrese el correo electrónico para el que desea recuperar la contraseña
            <p>

            <form action="#" method="POST">

                <label for="email" id="labelEmail">Ingrese el correo electrónico
                    <br />
                    <input type="email" name="email" id="email" required>
                </label>

                <button type="submit" id="sendForm">Aceptar</button>

                <p>¿Ya tienes cuenta? <a href="../index.html">Iniciar sesion</a></p>
            </form>
        </section>

</body>

<script src="../public/js/scripts.js" type="text/javascript"></script>

</html>